<header>
    <div class="header-content">
        <div>
            <h2>
                <a href="/">Post Board</a>
            </h2>
        </div>
        
        <nav>
            
            <div class="login-section">
                {{#loggedUser}}
                <span class="welcome">Welcome, {{username}}</span>
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                    <button type="submit" class="btn btn-danger btn-sm">
                        Logout
                    </button>
                </form>
                {{/loggedUser}}
                
                {{^loggedUser}}
                <form action="/login" method="post" class="login-form">
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                    <button type="submit" class="btn btn-sm">
                        Login
                    </button>
                </form>
                {{/loggedUser}}
            </div>
        </nav>
    </div>
</header>
